.my-layout .footer {
    padding-bottom: 100px;
    background-color: #3a3a3a;
}

.boxx_doitac {
    margin-top: 30px;
}

#partners img {
    border: 1px solid #ececec;
    max-width: 70%;
}

.image {
    overflow: hidden;
}

.image img {
    width: 100%;
    transition: all 1s;
}

.image img:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.anhtaisao a {
    overflow: hidden;
}

.anhtaisao a img {
    width: 100%;
    transition: all 1s;
}

.anhtaisao a img:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.scrollq {
    position: fixed;
    width: 100%;
    top: 0;
}

.delete2 {
    position: absolute;
    right: 40px;
    min-height: 40px;
    min-width: 40px;
    width: 40px;
    height: 40px;
    z-index: 9999;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: rgba(10, 10, 10, 0.2);
    border: none;
    border-radius: 290486px;
    cursor: pointer;
    pointer-events: auto;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 0;
    outline: none;
    vertical-align: top;
}

.delete2::before {
    height: 2px;
    width: 50%;
}

.delete2::after {
    height: 50%;
    width: 2px;
}

.delete2::before {
    background-color: #fff;
    content: '';
    display: block;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform-origin: center center;
}

.delete2::after {
    background-color: #fff;
    content: '';
    display: block;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform-origin: center center;
}

.navbar {
    box-shadow: 1px 1px 10px #000;
}

.boxx_doitac {
    margin-bottom: 30px;
}

.menu-float-right {
    width: 100px;
    position: fixed;
    top: 35%;
    right: 0;
    z-index: 888888;
}

.menu-float-right #group {
    position: absolute;
    right: 0;
}

.menu-float-right ul {
    padding: 0;
}

.menu-float-right #group ul li {
    background: #ee1c23;
    position: relative;
    border-radius: 3px;
    border: 1px solid #fff;
    list-style: none;
    margin-bottom: 10px;
}

.menu-float-right #group ul li img {
    width: 57px;
    border-radius: 5px;
}

.menu-float-right #group ul li .mo-ta {
    font-size: 9px;
    text-align: center;
    color: #fff;
    position: absolute;
    width: 96%;
    left: 2%;
    bottom: 5%;
    margin-bottom: 0;
}

.my-layout .chuyenmuc ul li {
    padding-bottom: 10px;
    border-bottom: 1px solid #ececec;
}

.popup_pro .close-modal {
    position: absolute;
    right: 40px;
    top: 4px;
    min-height: 32px;
    min-width: 32px;
    width: 32px;
    height: 32px;
    z-index: 9999;
}

.popup_2010 .close-modal {
    position: absolute;
    right: 40px;
    min-height: 40px;
    min-width: 40px;
    width: 40px;
    height: 40px;
    z-index: 9999;
}

.btn-call-popup {
    z-index: 99999 !important;
}

#shortcut-alongay-price {
    border-radius: 50%;
    box-shadow: 0 0 25px 0 #999;
    width: 48px;
    height: 48px;
    background: url('../../public/images/all_shortcut.svg') 0 0;
}

#shortcut-alongay-zalo {
    border-radius: 50%;
    box-shadow: 0 0 25px 0 #999;
    width: 48px;
    height: 48px;
    background: url('../../public/images/all_shortcut.svg') 0 -100px;
}

.show-desktop-alo {
    display: block;
}

.list-shortcut-desktop {
    display: block;
    position: fixed;
    z-index: 9;
}

.cauchuyenbaohiem h1 {
    color: red;
    margin-bottom: 20px;
    border-bottom: 2px solid #ececec;
    padding-bottom: 10px;
}

#section_523977438 {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #ee1c23;
    overflow: hidden;
}

#col-475988940 h1 {
    color: #fff;
    font-weight: 700;
    font-size: 24px;
}

#col-475988940 p span {
    color: #fff;
}

.tichxanh ul li {
    line-height: 80px;
    font-size: 18px;
}

.box_taisao {
    margin-top: 30px;
    margin-bottom: 30px;
}

.box_goibaohiem {
    max-width: 87%;
    margin: 0 auto;
    margin-bottom: 30px;
}

.box_goibaohiem .content {
    min-height: 101px;
    font-weight: 500;
}

.boxx_cauhoi {
    margin-top: 30px;
    margin-bottom: 30px;
}

.cauchuyenbaohiem {
    padding: 30px 0;
}

.cauchuyenbaohiem .is-one-third .card-image img {
    max-height: 191px;
}

.cauchuyenbaohiem .card-content h3 {
    padding: 15px 5px;
}

.cauchuyenbaohiem .card-image {
    overflow: hidden;
}

.cauchuyenbaohiem .card-image img {
    width: 100%;
    transition: all 1s;
}

.cauchuyenbaohiem .card-image img:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.clicktuvan {
    animation-name: pulse;
    -webkit-animation-name: pulse;
    animation-delay: 0;
    -webkit-animation-delay: 0;
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    background: rgba(255, 69, 87, 1);
    background: -webkit-linear-gradient(180deg, rgba(255, 69, 87, 1), rgba(160, 26, 35, 1));
    background: linear-gradient(180deg, rgba(255, 69, 87, 1), rgba(160, 26, 35, 1));
    max-width: 250px;
    margin: 30px auto;
    color: #fff;
    padding: 7px 15px;
    box-shadow: 0 0 20px -8px #e80000;
    -webkit-box-shadow: 0 0 20px -8px #e80000;
    border-color: #fff;
    border-width: 2px;
    border-radius: 50px;
}

.clicktuvan:hover {
    cursor: pointer;
}

@keyframes pulse {
    0%,
    100%,
    20%,
    80% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }
}

.danhmuc_hienhome {
    padding-bottom: 20px;
}

.danhmuc_hienhome .title_dm_hienhome {
    margin-right: 15px;
    padding-bottom: 7.5px;
    font-weight: 700;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    text-transform: uppercase;
}

.danhmuc_hienhome .title_dm_hienhome span {
    float: right;
    text-transform: none;
    font-weight: 400;
}

.danhmuc_hienhome p {
    margin-bottom: 15px;
}

.danhmuc_hienhome p:first-child {
    margin-bottom: 5px;
}

.giandong a,
.giandong img {
    width: 100%;
}

.danhmuc_hienhome .cot2 img {
    width: 100%;
}

.xtc {
    margin: 30px 0;
}

.xtc a span {
    position: relative;
    width: 200px;
}

.xtc a span:before {
    content: '';
    height: 2px;
    background-color: currentColor;
    opacity: 0.3;
    transition: all 0.3s;
    position: absolute;
    bottom: -5px;
    left: 10%;
    width: 80%;
}

.xtc a span:hover:before {
    left: -10%;
    width: 120%;
    opacity: 1;
}

@media (max-width: 767px) {
    #section_523977438 {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    #col-475988940 h1 {
        font-size: 16px;
    }

    #col-2102482074 .col-inner {
        margin: 0 auto;
    }

    .cauchuyenbaohiem .is-one-third .card-image img {
        max-height: auto;
    }

    .cauchuyenbaohiem .card-image img {
        min-height: auto;
    }

    .tichxanh ul {
        padding-left: 20px;
    }

    .tichxanh ul li {
        line-height: 24px;
        font-size: 18px;
    }

    .boxx_cauhoi,
    .boxx_tintuc,
    .boxx_tuvan,
    .box_goibaohiem,
    .box_taisao,
    .boxx_lydo1,
    .boxx_lydo2 {
        padding: 15px !important;
    }
}
